<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CoinMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.module.Coin">
        <result column="coin_name" jdbcType="VARCHAR" property="coinName" />
    </resultMap>
    <sql id="Base_Column_List">
        coin_name
    </sql>
    <select id="QueryAllCoin" resultType="com.example.demo.module.Coin">
        SELECT * FROM coin
    </select>
</mapper>